﻿@model StoreManagementSystem.Models.Category
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">StoreManagement</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Edit Category</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="text-right">
                        <a asp-controller="Admin" asp-action="AllCategories" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="card col-8">
                        <h5 class="card-header">Validation State</h5>
                        <div class="card-body px-4 py-3">
                            <form method="post" asp-action="EditCategory">
                                <input asp-for="Id" hidden />
                                <div class="form-group">
                                    <label asp-for="CategoryName">Category Name</label>
                                    <input class="form-control" asp-for="CategoryName">
                                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description">Category Name</label>
                                    <input class="form-control" asp-for="Description">
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                                <a asp-action="AllCategories" class="btn btn-success">Back</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />
        </div>
    </section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}

