﻿@model IEnumerable<StoreManagementSystem.Models.Product>
@{
    ViewData["Title"] = "AllProducts";
}
<section>
    <div class="container">
        @*<div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">ALL PRODUCTS</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb"></div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h2 class="pageheader-title">ALL PRODUCTS</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb"></div>
                </div>
            </div>
            <div class="col-6 text-right">
                <a asp-controller="Product" asp-action="AddProduct" class="btn btn-primary">Add New Product</a>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Basic Table</h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                        <th>Expiry Date</th>
                                        <th>Category</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.ProductName</td>
                                        <td>@item.ProductDescription</td>
                                        <td>@item.ProductImagePath</td>
                                        <td>@item.ProductUnitPrice</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.ExpiryDate</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center">
                                            <div class="w-75 btn-group" role="group">
                                                <a asp-controller="Product" asp-action="EditProduct" asp-route-Id="@item.Id" class="btn btn-primary mx-2">Edit</a>
                                                <a asp-controller="Product" asp-action="DeleteProduct" asp-route-Id="@item.Id" class="btn btn-danger mx-2">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


